@import "tailwindcss";
@source "../node_modules/flowbite-react";



/* *{
    margin: 0;
      padding: 0;
      box-sizing: border-box;
} */
body{
    font-family: "Cairo", sans-serif;
}





@theme{
  --font-roboto:"Roboto",
    sans-serif;
    --font-poppins:"Poppins",
      sans-serif;

      --color-main:#2C6FA0
}